<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="petition_board">

	<!-- 전체 목록 보기 -->

	<select id="listAll" resultType="PetitionVo">
		select rownum rnum, allList.* 
		    from (select ad.a_name,dd.d_name, pb.* 
		                from petition_board pb,area_data ad, detail_data dd
		                where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                	and b_addinfo=ad.a_no
		                    and b_agree &gt;= 5 and b_addinfo=#{a_no}
		                    and b_enddate &gt;=sysdate
		                order by b_detailinfo) allList
	    where b_delno='N'

	</select>
	
	<select id="listCount" resultType="int">
		select count(*)
    		 from (select ad.a_name,dd.d_name, pb.* 
		                from petition_board pb,area_data ad, detail_data dd
		                where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                	and b_addinfo=ad.a_no
		                    and b_agree &gt;= 5 and b_addinfo=52 
		                    and b_enddate &gt;=sysdate
		                order by b_detailinfo) allList
	    where b_delno='N'
	</select>
	
	<!-- 메인페이지 보이기(랭킹3위까지만보이기) -->
	<select id="listMain" resultType="PetitionVo">
		select * from (
		        select rownum rnum, allList.*, rank() over(order by b_agree desc) as ranking
		            from (select ad.a_name,dd.d_name, pb.* 
		                        from petition_board pb,area_data ad, detail_data dd
		                        where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                        	and b_addinfo=ad.a_no
				                    and b_agree &gt;= 5 and b_addinfo=52 
				                    and b_enddate &gt;=sysdate
				                order by b_detailinfo) allList
		                )
    where b_delno='N' and ranking &lt;= 3
    order by ranking
	</select>
	
<!-- 서치데이터 -->

</mapper>