<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="petition_board">

	<!-- 전체 목록 보기 -->

	<select id="listAll" resultType="PetitionVo">
		select * from(
				select rownum rnum, allList.* 
				    from (select ad.a_name,dd.d_name, pb.* 
				                from petition_board pb,area_data ad, detail_data dd
				                where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
				                	and b_addinfo=ad.a_no
				                    and b_agree &gt;= 5 and b_addinfo=#{areaDataVo.a_no}
				                    and b_enddate &gt;=sysdate
				                    and b_delno='N'
				                     <include refid="search"></include>
				               order by b_no desc, b_enddate desc) allList
				        )
		where rnum &gt;= #{pagingDto.startRow}	and rnum &lt;= #{pagingDto.endRow}	
	   
	</select>
<!-- 만료된청원보기	 -->
	<select id="listRunOut" resultType="PetitionVo">
		select rownum rnum, allList.* 
		    from (select ad.a_name,dd.d_name, pb.* 
		                from petition_board pb,area_data ad, detail_data dd
		                where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                	and b_addinfo=ad.a_no
		                    and b_agree &gt;= 5 and b_addinfo=#{a_no} 
		                    and b_enddate &lt; sysdate
		                    and b_delno='N'
		               ) allList
	 order by b_no desc, b_enddate desc
	</select>

<!-- 글 갯수 파악	 -->
	<select id="listCount" resultType="int">
		select count(*)
    		 from (select ad.a_name,dd.d_name, pb.* 
		                from petition_board pb,area_data ad, detail_data dd
		                where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                	and b_addinfo=ad.a_no
		                    and b_agree &gt;= 5 and b_addinfo=#{areaDataVo.a_no}
		                    and b_enddate &gt;=sysdate
		                    and b_delno='N'
		                    <include refid="search"></include>) allList
	    
	</select>
	
	<!-- 메인페이지 보이기(랭킹3위까지만보이기) -->
	<select id="listMain" resultType="PetitionVo">
		select * from (
		        select rownum rnum, allList.*, rank() over(order by b_agree desc) as ranking
		            from (select ad.a_name,dd.d_name, pb.* 
		                        from petition_board pb,area_data ad, detail_data dd
		                        where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                        	and b_addinfo=ad.a_no
				                    and b_agree &gt;= 5 and b_addinfo=#{a_no} 
				                    and b_delno='N' and b_enddate &gt;=sysdate
				                order by b_no desc, b_enddate desc) allList
		                )
    where ranking &lt;= 3
    order by ranking
	</select>
	
<!-- 글 읽기	 -->
	<select id="petitionRead" resultType="PetitionVo">
		select ad.a_name,dd.d_name, pb.* 
           from petition_board pb,area_data ad, detail_data dd
           where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
           	 and b_addinfo=ad.a_no
        	 and b_no=#{b_no} 
	</select>

<!-- 글 삭제하기	 -->
	<update id="petitionDel">
		update petition_board set
			b_delno = 'Y'
			where b_serialno = #{b_serialno}
	</update>
<!-- 서치데이터 -->
<sql id="search">
	<if test="(pagingDto.searchType != null and pagingDto.searchType != '') 
			and (pagingDto.searchKeyword != null and pagingDto.searchKeyword != '')">
		and 
		<if test="pagingDto.searchType == 'title'">b_title</if>
		<if test="pagingDto.searchType == 'writer'">b_writer </if>
		<if test="pagingDto.searchType == 'content'"> b_content </if>  like '%' || #{pagingDto.searchKeyword} || '%'
	</if>
</sql>
</mapper>