<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="person">
	<select id="selectAll" resultType="PersonVo">
		select * from person_data
	</select>
	
	<select id="selectPerson" resultType="PersonVo">
		select * from person_data
		where u_id = #{u_id}
	</select>

	<select id="selectArea" resultType="AreaDataVo">
		select * from area_data
		where a_no = #{a_no}
	</select>
</mapper>  	