<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="person">
	<select id="selectAll" resultType="userInfoVo">
		select * from user_info
		where u_address = #{a_name} and u_position = 1
	</select>
	
	<select id="selectPerson" resultType="userInfoVo">
		select * from user_info
		where u_email = #{u_email}
	</select>

	<select id="selectArea" resultType="AreaDataVo">
		select * from area_data
		where a_no = #{a_no}
	</select>
</mapper>  	