<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="notice_board">

	<!-- 지역 정보 불러오기 -->
	<select id="getAreaDataList" resultType="areaDataVo">
		select * from area_data
	</select>

	<!-- 공지사항 지역 정보 불러오기 -->
	<select id="getAreaData" resultType="areaDataVo">
		select * from area_data
		where a_no = #{a_no}
	</select>
	
	<!-- areaData.a_no 불러오기 -->
	<select id="getANo" resultType="areaDataVo">
		select a_no from area_data
	</select>
	
	<!-- 글 갯수 -->
	<select id="noticeBoardCount" resultType="int">
		select count(*) from notice_board
		where b_checkeddel = 0
		<include refid="search"></include>
		<include refid="searchAddinfo"></include>
	</select>
	
	<!-- 페이지네이션에 필요한 글 갯수 -->
	<select id="noticeBoardContentCount" resultType="int">
		select count(*) from notice_board
		where b_checkeddel = 0
		<include refid="search"></include>
		<include refid="searchAddinfo"></include>
	</select>

	<!-- 글 목록 불러오기 -->
	<select id="noticeBoardList" resultType="noticeBoardVo">
		select * from (select rownum rnum, a.* from (select * from notice_board, area_data
		where b_addinfo = a_no
		<if test="noSearchDto.searchType != null">
			<if test="noSearchDto.searchType == 'b_title'">
				and b_title like '%' || #{noSearchDto.keyword} || '%' 
			</if>
			<if test="noSearchDto.searchType == 'b_addinfo'">
				and b_addinfo like '%' || #{noSearchDto.keyword} || '%' 
			</if>
		</if>
		order by b_no desc) a)
		where rnum &gt;= #{noPagingDto.startRow} and rnum &lt;= #{noPagingDto.endRow}
				and b_addinfo= #{a_no}
	</select>
	
	<!-- 해당 게시글 읽기 -->
	<select id="noticeBoardRead" resultType="noticeBoardVo">
		select * from notice_board, area_data
		where b_no = #{b_no}
		and b_addinfo = a_no
	</select>
	
	<!-- 해당 게시글 클릭시 조회수 +1 업데이트 -->
	<update id="noticeBoardReadCountUpdate">
		update notice_board set
			b_readcount = b_readcount + 1
		where b_no = #{b_no}
	</update>

	<!-- 글 작성 -->
	<insert id="noticeBoardWrite">
		insert into notice_board(b_serialno, b_no, b_addinfo, b_detailinfo, b_title, b_writer, u_id, b_content)
		values ('no_' || seq_notice_serialno.nextval, seq_notice.nextval, #{b_addinfo}, #{b_detailinfo}, #{b_title}, #{b_writer}, #{u_id}, #{b_content})
	</insert>
	
	<!-- 글 수정 -->
	<update id="noticeBoardUpdate">
		update notice_board set
			b_addinfo = #{b_addinfo},
			b_detailinfo = #{b_detailinfo},
			b_title = #{b_title},
			b_writer = #{b_writer},
			u_id = #{u_id},
			b_content = #{b_content},
			b_modifieddate = sysdate
		where b_no = #{b_no}
	</update>
	
	<!-- 글 삭제 -->
	<update id="noticeBoardDelete">
		update notice_board set
			b_checkeddel = b_checkeddel + 1
		where b_no = #{b_no}
	</update>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'b_title'">
				and b_title like '%' || #{keyword} || '%' 
			</if>
		</if>
	</sql>
	
	<sql id="searchAddinfo">
		<if test="searchType != null">
			<if test="searchType == 'b_addinfo'">
				and b_addinfo like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>

</mapper>