<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace ="main">

	<!-- 메인페이지 공지사항 목록 불러오기 -->
	<select id="getNoticeList" resultType="noticeBoardVo">
		select* from 
			(select rownum rnum, a.* from 
				(select * from notice_board, area_data
					where b_addinfo = a_no
                    and b_checkeddel = 0
					order by b_no desc)a)
            where rnum &gt;= 1 and rnum &lt;= 5
	</select>
	
	<!-- 서브페이지 공지사항 목록 불러오기 -->
	<select id="getSubnoticeBoardList" resultType="noticeBoardVo">
		select * from (select rownum rnum, a.* from (select * from notice_board, area_data
		where b_addinfo = a_no
		and b_checkeddel = 0
		<if test="noSearchDto.searchType != null">
			<if test="noSearchDto.searchType == 'b_addinfo'">
				and b_addinfo like '%' || #{noSearchDto.keyword} || '%' 
			</if>
		</if>
			order by b_no desc) a)
		where rnum &gt;= 1 and rnum &lt;= 5
		and b_addinfo= #{a_no}
	</select>
	
	<!-- 서브페이지 토론 추천 게시판 목록 불러오기 -->
	<select id="getSeletDiscussionList" resultType="SelectDiscussion_BoardVo">
		select *
		from (select ROWNUM rnum, a.*, (select a_name from area_data where a_no = b_addinfo) a_name, (select d_name from detail_data where a_no = b_addinfo and d_no= b_detailinfo) d_name
		      from (select * 
		            from selectdiscussion_board
		            where b_checkeddel = 0 and b_addinfo = #{a_no}
		            order by b_no desc) a)
		where rnum &gt;= 1 and rnum &lt;= 5
		and b_addinfo= #{a_no}
	</select>
	
	<!-- 서브페이지 청원글 랭킹 5위까지 보이기 -->
	<select id="getPetitionRankingList" resultType="PetitionVo">
		select * from (
		        select rownum rnum, allList.*, rank() over(order by b_agree desc) as ranking
		            from (select ad.a_name,dd.d_name, pb.* 
		                        from petition_board pb,area_data ad, detail_data dd
		                        where b_addinfo=dd.a_no and b_detailinfo = dd.d_no 
		                        	and b_addinfo=ad.a_no
				                    and b_agree &gt;= 5 and b_addinfo=#{a_no} 
				                    and b_delno='N' and b_enddate &gt;=sysdate
				                order by b_enddate desc) allList
		                )
    where ranking &lt;= 5 and rownum &lt;= 5
    order by ranking
	</select>
	
	<!-- 자유게시판 글 목록 보이기 -->
	<!-- 글목록 -->
	<select id="suggest_list" resultType="Complaint_BoardVo">
		select * from 
			(select rownum rnum, a.* from 
				(select * from complaint_board , area_data
				where b_addinfo = a_no
				order by b_no desc) a)
		where rnum &gt;= 1 and rnum &lt;= 5
		and b_addinfo= #{a_no}
	</select>
	
	<!-- 서브페이지 의원 정보 불러오기 -->
	<select id="selectAll" resultType="userInfoVo">
		select * from user_info
		where u_address = #{a_name} and u_position = 1
	</select>
	
	<!-- 서브페이지 의원 수 구하기 -->
	<select id="getMemberCount" resultType="int">
		select count(*) from user_info
		where u_address = #{a_name} and u_position = 1
	</select>
	
	<!-- 의원목록 검색하기 -->
	<select id="getSearchMemberList" resultType="userInfoVo">
		select * from user_info
		<if test="searchTypeAll != null">
			<if test="searchTypeAll == 'u_name'">
				where u_name like '%' || #{keywordAll} || '%' 
			</if>
		</if>
		and u_position = 1
	</select>
	
<!-- 	의원(1명) 검색 -->
	<select id="searchMember" resultType="userInfoVo">
		select * from user_info
		where u_detail = (select d_name from detail_data where d_no=#{d_no} and a_no=#{a_no})
	</select>
	
	<!-- 의원 검색 수 구하기 -->
	<select id="getSearchMemberCount" resultType="int">
		select count(*) from user_info
		<if test="searchType != null">
			<if test="searchType == 'u_name'">
				where u_name like '%' || #{keywordAll} || '%' 
			</if>
		</if>
	</select>

</mapper>