<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board_Discussion">
	<!-- 토론 게시판 리스트 가져오기 -->
	<select id="getDiscussionList" resultType="BoardVo_Discussion">
		select a.* , (select a_name from area_data where a_no = #{a_no}) a_name
		from (select *
			  from discussion_board
			  where b_checkeddel = 0 and b_addinfo = #{a_no}) a
		order by b_no
	</select>
	
	<!-- 특정유저가 토론 게시판 해당글 찬성 또는 반대 첫투표 -->
	<insert id="insertAgreeInfo">
		insert into discussion_agreeinfo (b_no, u_email, agreenum)
		values (#{b_no},#{u_email},#{agreenum})
	</insert>
	
	<!-- 해당 유저가 토론 게시판 해당 글에 찬성 또는 반대 투표 했었는지 판단 -->
	<select id="AgreeById" resultType="int">
		select count(*)
		from discussion_agreeinfo
		where b_no = #{b_no} and u_email = #{u_email}
	</select>
	
	<!-- 찬성 또는 반대 투표 업데이트 -->
	<update id="ModifyAgreeInfo">
		update discussion_agreeinfo
		set agreenum = #{agreenum}
		where b_no = #{b_no} and u_email = #{u_email}
	</update>
	
	<!-- 찬성 또는 반대 투표로 인한 메인 테이블 찬반 카운트 업데이트 -->
	<update id="BoardAgreeCountModify">
		update discussion_board
		set b_agreementcount = (select count(*) from discussion_agreeinfo where agreenum = 1 and b_no = #{b_no}),
			b_oppositioncount = (select count(*) from discussion_agreeinfo where agreenum = 2 and b_no = #{b_no})
		where b_no = #{b_no}
	</update>
	
	<!-- 특정 토론글 찬성 반대 갯수 가져오기 -->
	<select id="getAgreeRatio" resultType="BoardVo_Discussion">
        select b_serialno, b_no, b_agreementcount, b_oppositioncount
        from discussion_board 
        where b_no = #{b_no}
	</select>
</mapper>
