<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Discussion_Boared">
	<select id="getDiscussionList" resultType="Discussion_BoardVo">
		select *
		from discussion_board
	</select>
</mapper>
