<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Reply_Discussion">

	<!-- 댓글 리스트 불러오기 -->
	<select id="getDiscussionReplyList" resultType="ReplyVo_Discussion">
		select * 
	    from(select rownum rnum, a.*, (select count(*) from discussion_reply where b_serialno = #{b_serialno} and r_level = 0) totalReplyCount
	        from ( select * 
	        	   from discussion_reply
	        	   where b_serialno = #{b_serialno} and r_level= 0 and r_checkeddel = 0
	               order by r_no desc) a)
	    where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<select id="getReplyCount" resultType="int">
		select count(*) from discussion_reply
		where b_serialno = #{b_serialno} and r_checkeddel = 0
	</select>
	
	<!-- 댓글 삭제하기 b_checkeddel = 0 -> 1 로 업데이트 -->
	<update id="deleteReply">
		update discussion_reply
		set r_checkeddel = 1
		where r_no = #{r_no}
	</update>
	
	<!-- 댓글 수정하기 -->
	<update id="modifyReply">
		update discussion_reply
		set r_content = #{r_content}
		where r_no = #{r_no}
	</update>
	
	<!-- 댓글 쓰기 -->
	<insert id="writeReply">
		insert into discussion_reply(b_serialno, r_no, r_writer, u_email , r_content ,r_yesorno)
        values (#{b_serialno}, seq_discussion_reply.nextval, #{r_writer}, #{u_email}, #{r_content}, #{r_yesOrNo})
	</insert>
	
	<!-- 댓글에 대해 좋아요 또는 싫어요값 추가 -->
	<insert id="replylikeInfoAdd">
		insert into discussion_reply_likeInfo (u_email, r_no, r_likenum)
		values (#{u_email},#{r_no},#{r_likenum})
	</insert>
	
	<!-- 댓글에 대해 좋아요 또는 싫어요 총 값 갱신-->
	<update id="replyLikeCountModify">
		update discussion_reply 
		set r_upcount = (select count(*) from discussion_reply_likeinfo
        				where r_no =#{r_no} and r_likenum =1),
        	r_downcount = (select count(*) from discussion_reply_likeinfo
        				where r_no =#{r_no} and r_likenum =2)
       where r_no = #{r_no} 			
	</update>
	
	<!-- 특정 댓글에 관하여 좋아여 싫어요 했는지 판단 0 = 안함  1 = 함-->
	<select id="replyLikeInfoExist" resultType="int">
		select count(*)
        from discussion_reply_likeinfo
        where r_no = #{r_no} and u_email = #{u_email}
	</select>
	
	<!-- 이미 좋아요 또는 싫어요를 눌렀다면 새로 업데이트 -->
	<update id="replyLikeInfoModify">
		update discussion_reply_likeinfo
		set r_likenum =  #{r_likenum}
		where r_no = #{r_no} and u_email = #{u_email}
	</update>
	
	<!-- 특정유저가 좋아요or싫어요 표시한 정보 가져오기 -->
	<select id="replyLikeInfoById" resultType="ReplyLikeInfoDto_Discussion">
	    select * from discussion_reply_likeinfo
        where u_email = #{u_email}
	</select>
	
	<!-- 댓글에 답글 달기 -->
	<insert id="replyComentWrite">
		insert into discussion_reply(b_serialno, r_no, r_writer, r_content, u_email, r_level, r_coment_no)
		values (#{b_serialno},#{r_no},#{r_writer},#{r_content},#{u_email}, 1, seq_discussion_coment.nextval) 
	</insert>
	<!-- 댓글달린 답글 카운트 업데이트 -->
	<update id="replyComentCountModify">
		update discussion_reply
		set r_coment_count = (select count(*) from discussion_reply where r_no = #{r_no} and r_level =1)
		where r_no = #{r_no}
	</update>
	
	<!-- 댓글달린 답글 리스트 가져오기 -->
	<select id="replyComentList" resultType="ReplyVo_Discussion">
		select * from discussion_reply
        where r_no = #{r_no} and r_level = 1
        order by r_coment_no
	</select>
</mapper>