<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="Select_Discussion">
	<!-- 토론주제 추천게시판 글리스트 가져오기 -->
	<select id="getSeletDiscussionList" resultType="SelectDiscussion_BoardVo">
		select *
		from (select ROWNUM rnum, a.*, (select a_name from area_data where a_no = b_addinfo) a_name, (select d_name from detail_data where a_no = b_addinfo and d_no= b_detailinfo) d_name
		      from (select * 
		            from selectdiscussion_board
		            where b_checkeddel = 0 and b_addinfo = #{areaDataVo.a_no}
		            <if test="(pagingDto.searchKeyword != null) and (pagingDto.searchKeyword != '')" >
		            	<if test="pagingDto.searchType == 'b_title'">
		            		and b_title like '%' || #{pagingDto.searchKeyword} || '%'
		            	</if>
		            	<if test="pagingDto.searchType == 'b_content'">
		            		and b_content like '%' || #{pagingDto.searchKeyword} || '%'
		            	</if>
		            	<if test="pagingDto.searchType == 'b_writer'">
		            		and b_writer like '%' || #{pagingDto.searchKeyword} || '%'
		            	</if>
		            </if>
		            order by b_no desc) a)
		where rnum &gt;= #{pagingDto.startRow} and rnum &lt;=#{pagingDto.endRow}
	</select>
	
	<!-- 토론주제 추천게시판 글 갯수 가져오기 -->
	<select id ="totalSelectBoardCount" resultType="int" >
		select count(*) 
        from selectdiscussion_board
        where b_checkeddel = 0 and b_addinfo = #{areaDataVo.a_no}
        <if test="(pagingDto.searchKeyword != null) and (pagingDto.searchKeyword != '')" >
           	<if test="pagingDto.searchType == 'b_title'">
           		and b_title like '%' || #{pagingDto.searchKeyword} || '%'
           	</if>
           	<if test="pagingDto.searchType == 'b_content'">
           		and b_content like '%' || #{pagingDto.searchKeyword} || '%'
           	</if>
           	<if test="pagingDto.searchType == 'b_writer'">
           		and b_writer like '%' || #{pagingDto.searchKeyword} || '%'
           	</if>
        </if>        
	</select>
	
	<!-- 글 상세보기 -->
	<select id= "readSelectBoard" resultType="SelectDiscussion_BoardVo">
        select a.* , (select a_name from area_data where a_no = b_addinfo) a_name, (select d_name from detail_data where a_no = b_addinfo and d_no= b_detailinfo) d_name
        from (select *
              from selectdiscussion_board 
              where b_no = #{b_no}) a
	</select>
	
	<!-- 조회수 증가 시키기 -->
	<update id="addReadCount">
		update selectdiscussion_board
		set b_readcount = b_readcount + 1
		where b_no = #{b_no}
	</update>
	
	<!-- 토론 주제 추천 게시판 글 작성 하기 -->
	<insert id="selectBoardWrite">
		insert into selectdiscussion_board (b_serialno, b_no, b_addInfo, b_detailInfo, b_title, b_writer, u_email, b_content)
		values ('dis_' || seq_discussion_serialno.nextval, seq_discussion_select.nextval, #{b_addInfo}, #{b_detailInfo}, #{b_title}, #{b_writer}, #{u_email}, #{b_content})
	</insert>
	
	<!-- 토론 주제 추천 게시글 수정하기 -->
	<update id="selectBoardModify">
		update selectdiscussion_board 
		set b_title = #{b_title},
			b_content = #{b_content}
		where b_no = #{b_no}	
	</update>
	
	<!-- 글 삭제 하기 b_checkeddel = 0 -> 1 로 업데이트 -->
	<update id="deleteSelectBoard">
		update selectdiscussion_board
		set b_checkeddel = 1
		where b_no = #{b_no}
	</update>
	
	<!-- 해당 토론 추천글에 대한 추천 정보 가져오기 -->
	<select id="selectBoardResList" resultType="SelectResInfoDto_Discussion">
		select *
		from selectdiscussion_board_resinfo
		where u_email = #{u_email} and b_no = #{b_no}
	</select>
	
	<!-- 토론 추천글 추천하기 (유저 정보랑 글번호 insert) -->
	<insert id="insertBoardRes">
		insert into selectdiscussion_board_resinfo (u_email, b_no)
		values (#{u_email}, #{b_no})
	</insert>
	
	<!-- 해당 글에 유저가 선택했었는지 확인 -->
	<select id="selectBoardResCountById" resultType="int">
		select count(*)
		from selectdiscussion_board_resinfo
		where u_email = #{u_email} and b_no = #{b_no}
	</select>
	
	<!-- 토론 추천글 취소 하기 -->
	<delete id="deleteBoardRes">
		delete selectdiscussion_board_resinfo
		where u_email = #{u_email} and b_no = #{b_no} 
	</delete>
	
	<!-- 해당글 갯수 업데이트 -->
	<update id="selectBoardUpCountModify">
		update selectdiscussion_board
		set b_upcount = (select count(*) from selectdiscussion_board_resinfo
						  where b_no = #{b_no})
		where b_no = #{b_no}
	</update>
	
	<!-- 해당 게시글  추천 갯수 가져오기 -->
	<select id="getSelectBoardUpCount" resultType="int">
		select count(*)
		from selectdiscussion_board_resinfo
		where b_no = #{b_no}	
	</select>
</mapper>