<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<!-- 		패키지단위 -->
<!-- 		<package name="com.kh.domain"/> -->
		
		<!-- 클래스 단위 -->
		<typeAlias type="com.kh.sbj.domain.PersonVo" alias="PersonVo"/>
		<typeAlias type="com.kh.hys.domain.Discussion_BoardVo" alias="Discussion_BoardVo"/>
		<typeAlias type="com.kh.hys.domain.Discussion_ReplyVo" alias="Discussion_ReplyVo"/>
		<typeAlias type="com.kh.hys.domain.SelectDiscussion_BoardVo" alias="SelectDiscussion_BoardVo"/>
		<typeAlias type="com.kh.jhj.domain.DonationVo" alias="DonationVo"/>
	</typeAliases>
</configuration>