<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<!-- 		패키지단위 -->

<!-- 		패키지단위 -->
<!-- 		<package name="com.kh.domain"/> -->
		
		<!-- 클래스 단위 -->
		<typeAlias type="com.kh.domain.AreaData" alias="areaData"/>
		<typeAlias type="com.kh.domain.PagingDto" alias="pagingDto"/>
		
		<typeAlias type="com.kh.hys.domain.BoardVo_Discussion" alias="BoardVo_Discussion"/>
		<typeAlias type="com.kh.hys.domain.ReplyVo_Discussion" alias="ReplyVo_Discussion"/>
		<typeAlias type="com.kh.hys.domain.ReplyLikeInfoDto_Discussion" alias="ReplyLikeInfoDto_Discussion"/>
		<typeAlias type="com.kh.hys.domain.SelectDiscussion_BoardVo" alias="SelectDiscussion_BoardVo"/>
		
		<typeAlias type="com.kh.shj.domain.NoticeBoardVo" alias="noticeBoardVo"/>
		<typeAlias type="com.kh.shj.domain.NoSearchDto" alias="noSearchDto"/>
		<typeAlias type="com.kh.shj.domain.NoPagingDto" alias="noPagingDto"/>
		
		<typeAlias type="com.kh.jhj.domain.DonationVo" alias="DonationVo"/>
		<typeAlias type="com.kh.jhj.domain.DoPageDto" alias="Donation_pageDto"/>
		<typeAlias type="com.kh.jhj.domain.DoSearchDto" alias="Donation_searchDto"/>
		<typeAlias type="com.kh.jhj.domain.DoFileDto" alias="Donation_fileDto"/>
		
		<typeAlias type="com.kh.jhj.domain.PetitionVo" alias="PetitionVo"/>
		
		<typeAlias type="com.kh.sbj.domain.PersonVo" alias="PersonVo"/>
		<typeAlias type="com.kh.sbj.domain.PersonPromiseVo" alias="PersonPromiseVo"/>
		
		<typeAlias type="com.kh.psh.domain.Complaint_BoardVo" alias="Complaint_BoardVo"/>

	</typeAliases>
</configuration>
